{% extends "base.html" %}

{% block content %}
<div class="mx-auto py-5 bg-[#2F3D4C]">
    <h1 class="text-3xl font-bold uppercase text-center">Lista de productos</h1>
</div>

<div class="container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

        {% for product in products %}
        <a href="#" class="group block border rounded-lg overflow-hidden shadow-sm hover:shadow-md transition bg-white">

            <!-- Contenedor de imagen -->
            <div class="aspect-square w-full bg-gray-100 flex items-center justify-center overflow-hidden">

                {% if product.photo %}
                    <img 
                        src="{{ product.photo.url }}" 
                        alt="{{ product.name }}" 
                        class="h-full w-full object-cover group-hover:scale-105 transition"
                    >
                {% else %}
                    <span class="text-gray-400 text-sm">Sin imagen</span>
                {% endif %}

            </div>

            <!-- Contenido -->
            <div class="p-4">
                <h3 class="font-medium text-gray-900 group-hover:underline">
                    {{ product.name }}
                </h3>

                <p class="text-sm text-gray-500 line-clamp-2">
                    {{ product.description }}
                </p>

                <p class="mt-2 font-semibold text-gray-800">
                    ${{ product.price }}
                </p>
            </div>
            <form action="{% url "agregar-producto" %}" method="post" class="mt-4">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{ product.id }}">
                <button 
                    class="cursor-pointer text-center mx-2 mb-2 mt-4 block rounded-md border border-indigo-900 bg-indigo-900 px-5 py-3 text-sm font-medium tracking-widest text-white uppercase transition-colors hover:bg-white hover:text-indigo-900">
                    Ordenrar
                </button>
            </form>
            
        </a>

        
        {% endfor %}

    </div>
</div>
    

{% endblock content %}